<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WarningDisplayed>true</WarningDisplayed>
  <DebugOutput>true</DebugOutput>
  <Log>true</Log>
  <LogPath>C:\Users\Descon\Documents\DrFisher</LogPath>
  <DCOnWhisper>false</DCOnWhisper>
  <DCOnFullBags>false</DCOnFullBags>
  <AutoExit>false</AutoExit>
  <AutoRun>false</AutoRun>
</Settings>